*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
}
.container-fluid{
    max-width: 100%;
}
.container{
    width: 1200px;
    margin: auto;
}
ul{
    list-style: none;
}
.nav-bar{
    padding: 20px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;

}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    
}

a.active,a:hover{
    background-color: brown;
}
.header-section{
    background-image: url(../img/banner.png);
    padding: 100px 0 30px 0;
}
.menu-icon{
    float: right;
}
.banner-items{
    text-align: center;
    background-repeat: no-repeat;
}
.banner-heading{
    color: red;
    font-size: 50px;
    font-weight: 700;
}
.our-courses{
    color: white;
    margin: 50px;
    font-size: 20px;
}
.banner-button{
    background-color: #f1c50e;
    border: none;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 50px;
    margin: 0 10px;
}
.image-link-text{
    color: white;
    font-style: italic;
    padding: 40px;
}
.link-text{
    color: white;
}
.courses-container-div{
    padding-top: 50px;
}
.courses-section{
    text-align: center;
    display: inline-block;
}
.courses-image{
    border-radius: 50px;
}
.courses-text{
    margin-top: 50px;
}
.courses-list{
    display: inline-block;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    bottom: 100px;
    left: 10%;
}

.courses-list-item{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}
.arrow-icon{
    font-size: 50px;
}

.teams-header-1{
    background-color: #0d244b;
    height: 900px;
    position: relative;
}
.teams-header-2{
    background-color: #f1c50e;
    height: 30%;

}
.teams-container{
    position: absolute;
    top: 0;
    margin-top: 50px;

}
.teams-image-container{
    position: relative;
    left: 10%;

}
.teams-image{
    width: 250px;
    position: relative;
    margin: 0 10px;
}
.teams-image-margin{
    top: 100px;
}
.teams-card-container{
    margin-top: 100px;
}
.cards{
    background-color: white;
    width:200px;
    height: 300px;
    border-radius: 20px;
    padding: 30px;
    float: left;
    margin: 15px;
    text-align: center;
}
.card-heading{
    margin-top: 15px;
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.card-text{
    margin-top: 20px;
    color: #8a8b93;
    font-size: 12px;
    margin-right: 20px;
}
.card-button{
    background-color: white;
    border: none;
    border-width: 1.5px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: underline;
}
/* .teams-p{
    color: white;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
} */
.teams-a{
    color: white;
    text-decoration: underline;
    text-decoration-color: #f1c50e;
}
.life-coach-head{
    background-color: #f7f7f7;
}
.life-coach-heading{
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    word-spacing: 5px;
}
.tick-icon{
    float: left;
    font-size: 100px;
    color: #f1c50e;
}
.life-coach-image{
    float: left;
    padding-left: 20px;
}
.life-coach-p{
    padding: 25px 0 0 0 ;
    line-height: 25px;
    font-style: italic;
    color: #8a8b93;
} 
.life-coach-link{
    clear: both;
    text-align: center;
    font-style: italic;
    padding: 40px 20px 50px 20px;
}
/* Leader in executive Education */
.leader-head{
    clear: both;
    background: linear-gradient(to right,white 50%, #0d244b 50%);
    height: 500px;
}
.leader-position{
    position: relative;
}
.leader-image{
    border-radius: 30px;
    position: absolute;
    top: 50px;
    left: 20%;
}
.leader-image-2{
    position: absolute;
    bottom: 0;
    top: 400px;
    right: 300px;
}
.leader-text{
    background-color: #f1c50e;
    border-radius: 30px;
    position: absolute;
    padding: 50px 30px 50px 30px;
    width: 30%;
    top: 300px;
    left: 200px;
}
.leader-text-heading{
    font-size: 25px;
}
.leader-text-p{
    font-size: 12px;
    margin: 20px 0 0 0 ;

}
.leader-text-link{
    margin: 20px 0 0 0 ;
    font-size: 13px;

}
.leader-text-button{
    background-color: #0d244b;
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 15px 40px;
    border-radius: 30px;
    margin: 20px 0 20px 0;
}
/* Learning */
.learning-head{
    background: linear-gradient(to bottom, #0d244b 50%, white 50%);
    height: 1050px;
    clear: both;
    position: relative;
    top: 200px;
}
.learning-head-container{
    position: relative;
}
.learning-yellow-bg{
    background-color: #f1c50e;
    border-radius: 20px;
    height: 400px;
    width: 50%;
    position: absolute;
    top: 150px;
    right: 80px;
}
.learning-image-div{
    position: absolute;
    /* left: 20%; */
}
.learning-image{
    /* width: 80%; */
    border-radius: 20px;
}
.learning-cards-head{
    position: absolute;
    /* top: 400px; */
    top: 500px;
    /* left: 18%; */
    left: 5%;
}
.learning-cards{
    text-align: center;
    background-color: #FFFFFF;
    padding: 20px 40px;
    border-radius: 20px;
    box-shadow: .5px .5px 15px rgba(59, 56, 56, 0.678);
    float: left;
    margin: 10px 10px 30px 10px;
}
.learning-cards-image{
    margin: 20px 0 0 0;
}
.learning-cards-h3{
    margin: 30px 0 20px 0;
    text-transform: uppercase;
}
/* Flexible Distance Learning */
.distance-head{
    position: relative;
    height: 500px;
    background-color: #f1c50e;
    background: linear-gradient(to bottom, #f1c50e 70%,  #0d244b 30%);
}
.distance-section-heading{
    padding: 20px 0 0 0;

}
.distance-cards-head{
    position: absolute;
    top: -60px;

}
.distance-section-p{
    padding: 20px 0 50px;
    color: #535458;
    line-height: 25px;
}
.distance-cards{
    background-color: #f2f2f2;
    width: 23%;
    padding: 30px;
    border-radius: 20px;
    float: left;
    margin: 20px;
}
.distance-cards-number{
    font-size: 26px;
}
.distance-cards-p{
    margin: 20px 0 0 0;
}
.flexible-heading{
    position: relative;
    padding: 70px 0;
}
.need-help-head{
    background-color: #FFFFFF;
    border-radius: 20px;
    position: absolute;
    width: 60%;
    left: 20%;
    bottom: 20px;
}
.need-help-text{
    width: 25%;
    padding: 30px 0 20px 30px;
    float: left;
}
.need-help-heading{
    font-size: 40px;
}
.need-help-form{
    float: right;
    width: 50%;
    margin: 30px;
}
.need-help-p{
    color: #8a8b93;
    line-height: 30px;
}
.social-media-icons{
    margin: 20px 10px;
}
.form-p{
    margin-left: 10px;
}
.name-input{
    background-color: #f2f2f2;
    border: none;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
}
.form-phone-div{
    float: left;
}
.email-input{
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    background-color: #f2f2f2;
    border: none;
    margin-left: 10px;
}
.phone-input{
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    background-color: #f2f2f2;
    border: none;
}
.request-button{
    background-color: #f1c50e;
    border: none;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 10px;
    margin: 20px 40px 20px 0;
    width: 85%;
}
/* Footer section */
.footer-section{
    background-color: #333333;
    text-align: center;
    color: white;
    font-size: 12px;
}
.footer-p1{
    padding: 30px 0 5px 0;
}
.footer-p3{
    padding: 50px 0 30px 0;
}

